body {
  background-color: #23262b;
  color: #979797;
  font-family: "Courier New";
  font-size: 16px;
}

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activities-container {
  width: 80vw;
  max-width: 720px;
  background-color: #16191e;
  border-radius: 0.625rem;
  padding: 2.25rem;
}

.collapsed {
  height: 80vh;
  overflow: scroll;
}

.expanded {
  height: auto;
}

.activity-card {
  display: flex;
  margin-bottom: 1rem;
}

.activity-card-indicator--github {
  background-color: #a200ff;
  width: 0.5rem;
  border-radius: 4px;
}

.activity-card-indicator--twitter {
  background-color: #00fcff;
  width: 0.5rem;
  border-radius: 4px;
}

.activity-card-content {
  display: flex;
  font-size: 0.875rem;
  margin-left: 1.25rem;
  padding-bottom: 2rem;
  width: 100%;
}

.activity-card-info {
  flex: 4 0;
}

.activity-card-info__header--github {
  color: #bf4fff;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.activity-card-info__header--twitter {
  color: #00fcff;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.activity-card-info__crumb {
}

.activity-card-info__message {
  margin-bottom: 0.5rem;
  font-style: italic;
  color: #fff;
}
 
.activity-card-info__messagetype {
  margin-bottom: 0.5rem;
}

.activity-card-info__actions {
  margin: 1rem 0 0.5rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.activity-card-date {
  flex: 1;
  text-align: center;
}

.button--reset {
  border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    cursor: pointer;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

.activity-card-commit__button {
  margin: 0 0.75rem;
}

.activity-card-info__link a {
  text-decoration: none;
  color: inherit;
}

.activity-card-info__coding-lang {
  background-color: #E9C821;
  padding: 4px;
  color: black;
  font-weight: bold;
  border-radius: 3px;
}

/* Remove excess padding and border in Firefox 4+ */
&::-moz-focus-inner {
    border: 0;
    padding: 0;
}
